.Lila {
    background-color: rgb(191, 172, 243);
    color: rgb(47, 37, 75);
}
h3 {
    margin: 10px;
}
img {
    text-align: center;
}
.cole {
    text-align: center;
}
h2 {
    text-align: center;
}