.Amarillo {
    background-color: rgb(255, 248, 153);
    color: rgb(71, 38, 0);
}
h3 {
    margin: 10px;
}
.cole {
    text-align: center;
}
img {
    height: 200px;
    width: auto;
}
h2 {
    text-align: center;
}